<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.helloworld"
        version   = "1.0.0">

    <name>Calculadora</name>

    <description>
        La mejor calculadora que podrás encontrar - UAQFIF 
    </description>

    <author email="kevinycz@hotmail.com">
        Kevin Yañez
    </author>
    
    <preference name="orientation"                value="portrait" />
    <preference name="fullscreen"                 value="true" />

    
    <!-- Plugins -->

    <!-- Core plugins -->

    <!-- Third party plugins -->
    <!-- A list of available plugins are available at https://build.phonegap.com/plugins -->
    <!--
        <plugin name="com.phonegap.plugins.barcodescanner" />
    -->

    <!-- Define app icon for each platform. -->
    <icon src="icon.png" />

    <access origin="*"/>
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

</widget>